
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.Imagen_Referencia{
    width: 720px;
    height: 480px;
    
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid blue;
}

.Carcaza_1{
    width: 210px;
    height: 340px;
    background-color: blue;
    margin-top: 60px;
    margin-left: 210px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-radius: 5% 5% ;

}

.Carcaza_1_2{
    width: 210px;
    height: 100px;
    background-color: blue;
    margin-top: -70px;
    margin-left: 210px;
    border-left: 5px solid  black;
    border-right: 5px solid  black;
    border-bottom: 7px solid  black;
    border-radius: 0 0 42% 42%;
}

.Carcaza_2{
    width: 180px;
    height: 160px;
    background: rgb(36, 34, 34);
    margin-left: 225px;
    margin-top:-350px;
    border-top: 5px solid  black;
    border-left: 5px solid  black;
    border-right: 5px solid  black;
    border-radius: 5% 5% ;

}

.Carcaza_2_2{
    width: 180px;
    height: 160px;
    background-color: rgb(36, 34, 34);
    margin-left: 225px;
    margin-top:-140px;
    border-left: 4px solid  black;
    border-right: 4px solid  black;
    border-bottom: 4px solid  black;
    border-radius: 0 0 20% 20%;

}

.Pantalla{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 105px;
    margin-left: 255px;
    margin-top:-150px;
    border: 3px solid black;
    border-radius: 5%;
    position: relative;
    
}

.Pantalla img{
    height: 100%;
    width: auto;

}
.controls{
    position: flex;
}



.boton_1{
    width: 30px;
    height: 30px;
    background-color: rgb(36, 34, 34);
    border: 5px solid black;
    margin-left: 368px;
    margin-top: 75px;
    border-radius: 50%;
}

.boton_1 .controls .playBtn{
    margin-left:4px;
}

div.btn{
    cursor: pointer;
}

.playBtn>i{
    opacity: 0;
} 


.boton_2{
    width: 30px;
    height: 30px;
    background-color: rgb(36, 34, 34);
    border: 5px solid black;
    margin-left: 332px;
    margin-top: -17px;
    border-radius: 50%;
}

.boton_start{
    width: 25px;
    height: 10px;
    background-color: rgb(36, 34, 34);
    border: 4px solid black;
    margin-left:283px;
    margin-top:32px;
    border-radius: 30%;

}

.boton_select{
    width: 25px;
    height: 10px;
    background-color: rgb(36, 34, 34);
    border: 4px solid black;
    margin-left:320px;
    margin-top:-10px;
    border-radius: 30%;

}

.nombre_espacio{
    width: 57px;
    height: 15px;
    border: 3px solid black;
    margin-left:283px;
    margin-top:-110px;
    border-radius: 30%;

}

.cruzUp{
    width: 20px;
    height: 20px;
    margin-left:246px;
    margin-top:10px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: rgb(36, 34, 34);
    cursor: pointer;
}

.cruzRigth{
    width: 20px;
    height: 20px;
    margin-left:263px;
    margin-top:0px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    background-color: rgb(36, 34, 34);
    cursor: pointer;
}

.cruzLeft{
    width: 20px;
    height: 20px;
    margin-left:229px;
    margin-top:-20px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    background-color: rgb(36, 34, 34);
    cursor: pointer;
}

.cruzDown{
    width: 20px;
    height: 20px;
    margin-left:246px;
    margin-top:0px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    background-color: rgb(36, 34, 34);
    cursor: pointer;
}

.cruzCenter{
    width: 14px;
    height: 17px;
    margin-left:249px;
    margin-top:-20px;
    background-color: rgb(36, 34, 34);
}

.Detalle_1{
    width: 5px;
    height: 5px;
    background:red;
    border-radius:30%;
    margin-left: 240px;
    margin-top: -220px;
    
}

.Detalle_2{
    width: 100px;
    height: 4px;
    background:black;
    border-radius:30%;
    margin-left: 265px;
    margin-top: 100px;
}

.Detalle_3{
    width: 50px;
    height: 4px;
    background:black;
    border-radius:30%;
    margin-left: 288px;
    margin-top: 5px;

}

.Pantalla .progress{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #ff0000;
    opacity: 0.4;
    left:0;
    top:0;
}


